In [1]:
results = [2,3,4,5,6,7,2]
for num in results:
    print(num)

2
3
4
5
6
7
2

In [14]:
total = 0
for i in range(5):
    num = int(input("enter a number"))
    total = total + num
print(f"final total = total {total}")
result = total
print(f"result = {result}")

enter a number 5
enter a number 6
enter a number 3
enter a number 2
enter a number 4

final total = total 20
result = 20

In [19]:
total = 0
numbers = []  # Create empty list to store inputs

for i in range(5):
    num = int(input(f"Enter number: "))
    numbers.append(num)  # Add number to list
    total = total + num

print(f"Resut of the input: {numbers}")
print(f"Final total = {total}")
result = total
print(f"Result = {result}")

Enter number:  7
Enter number:  8
Enter number:  6
Enter number:  1
Enter number:  7

Resut of the input: [7, 8, 6, 1, 7]
Final total = 29
Result = 29

In [20]:
total = 0
numbers = []  # Create empty list to store inputs

for i in range(5):
    num = int(input(f"Enter number: "))
    numbers.append(num)  # Add number to list
    total = total + num

print(f"Resut of the input: {numbers}")
print(f"Final total = {total}")
result = total
print(f"Result = {result:[3]}")

Enter number:  9
Enter number:  8
Enter number:  7
Enter number:  66
Enter number:  5

Resut of the input: [9, 8, 7, 66, 5]
Final total = 95

TypeError: 'int' object is not subscriptable

In [25]:
# Find the average of the following marks
marks = [17,23,8,42,33,12,25,9]
total=0
count=0
for i in marks:
    count+=1
    total+=i

average=total/count
average

21.125

In [47]:
students=[]
for i in range(3):
    print(students)
    name=input("what is your name?")
    students=students+[name]
print(students)

[]

what is your name? jun

['jun']

what is your name? july

['jun', 'july']

what is your name? jan

['jun', 'july', 'jan']

In [53]:
print (students[-1])

jan

In [54]:
msrks = [50,62,58]
print(students)

['jun', 'july', 'jan']

In [41]:
students = ["stephen", "edu", "sam", "ken", "brayo", "eddy", "josua"]
marks = [20, 34, 56, 90, 9, 87, 84]

for i in range(7):
    print(f"{students[i]}: {marks[i]}")

stephen: 20
edu: 34
sam: 56
ken: 90
brayo: 9
eddy: 87
josua: 84